header{
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 10px;
    background-color: #003049;
}
.a{
    display: flex;
    justify-content: flex-start;
    color: black;
    gap: 100px;
}
nav{
    display: flex;
    width: 100px;
    justify-content: flex-start;
    gap: 100px;
}
.hero{
    display: flex;
    justify-content: center;
    background-image: url("/img/pc3.png");
    background-position: center;
    background-size: cover;
    width: 1896px;
    height: 700px;
    color: white;
}
.hero div{
    display: flex;
       flex-direction: column;
    align-items: center;
}
